<div class="row mt-3 mb-4">
    <div class="col-12 view-title d-flex justify-content-between align-items-center">
        <div class="d-inline-block">
            Pedidos
        </div>
    </div>
</div>

<!-- orders filter -->
<div class="row justify-content-end">
    <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
        <div class="form-group">
            <ng-select
                [items]="orderStatuses"
                bindLabel="name"
                bindValue="id"
                placeholder="Filrar por estatus"
                [(ngModel)]="statusToFilter"
                (change)="SetTrigger()"
            ></ng-select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th>Fecha</th>
                    <th>Productos</th>
                    <th>Usuario</th>
                    <th>Atendido por</th>
                    <th>Estatus</th>
                    <th></th>
                </tr>
            </thead>
            
            <tbody>
                <tr *ngFor="let order of orders">
                    <td>{{order.creationDate | date:"dd/MM/YYYY"}}</td>
                    <td>{{GetOrderProductsLength(order)}}</td>
                    <td>{{order.user.name}}</td>
                    <td>{{order.seller ? order.seller.name : 'Nadie'}}</td>
                    <td>{{order.status.name}}</td>
                    <td class="text-center">
                        <button *ngIf="order.sellerId != user.id && order.sellerId == null" class="btn btn-primary" [disabled]="loading.updating" (click)="selectedOrder = order; modal.OpenModal(confirmIdentity)">
                            <span *ngIf="!loading.updating || loading.orderId != order.id">Atender</span>
                            <span *ngIf="loading.updating && loading.orderId == order.id"><i class="zmdi zmdi-spinner zmdi-hc-lg zmdi-hc-spin"></i></span>
                        </button>
                        <button *ngIf="order.sellerId == user.id" class="btn btn-primary" [disabled]="loading.updating" (click)="router.GoToRoute('/pedidos/' + order.id)">
                            <span>Ver</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<ng-template #confirmIdentity>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Confirmar acción</h4>
            <button class="close" (click)="modal.CloseModal()">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="confirmIdentityForm">
                <div class="form-group">
                    <label for="username">Correo o código</label>
                    <input class="form-control" type="text" placeholder="Correo o código" readonly
                    formControlName="username">
                    <div class="error-messages" *ngIf="form.GetFormControlByName(confirmIdentityForm, 'username')?.touched && form.GetFormControlByName(confirmIdentityForm, 'username')?.errors">
                        <span class="d-block" *ngIf="form.GetFormControlByName(confirmIdentityForm, 'username')?.errors?.required">
                            Escriba su correo o código
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input class="form-control" type="password" placeholder="Contraseña"
                    formControlName="password" (keyup.enter)="AttendOrder(selectedOrder)">
                    <div class="error-messages" *ngIf="form.GetFormControlByName(confirmIdentityForm, 'password')?.touched && form.GetFormControlByName(confirmIdentityForm, 'password')?.errors">
                        <span class="d-block" *ngIf="form.GetFormControlByName(confirmIdentityForm, 'password')?.errors?.required">
                            Escriba su contraseña
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary mr-2" (click)="modal.CloseModal()">
                Cancelar
            </button>
            <button class="btn btn-primary" [disabled]="loading.deleting" (click)="AttendOrder(selectedOrder)">
                <span *ngIf="loading.deleting"><i class="zmdi zmdi-spinner zmdi-hc-spin"></i></span>
                <span *ngIf="!loading.deleting">Confirmar</span>
            </button>
        </div>
    </div>
</ng-template>
