<div class="row mt-3 mb-4">
    <div class="col-12 view-title d-flex justify-content-between align-items-center">
        <div class="d-inline-block">
            Ventas
        </div>
    </div>
</div>

<div class="row justify-content-between">
    <div class="col-12">
        <label>Filtrar por fecha</label>
    </div>
    <div class="col-12 col-sm-6 col-md-7 col-lg-8 col-xl-9 mb-3">
        <div class="input-group">
            <div class="input-group-prepend">
              <button class="btn btn-primary" (click)="startDate ? SetTrigger() : null; startDate = ''">
                  <i class="zmdi zmdi-delete zmdi-hc-lg"></i>
              </button>
            </div>
            <input type="date" class="form-control" [(ngModel)]="startDate" (input)="SetTrigger()">
            <div class="input-group-prepend input-group-append">
                <span class="input-group-text">a</span>
            </div>
            <input type="date" class="form-control" [(ngModel)]="endDate" (input)="SetTrigger()">
            <div class="input-group-append">
              <button class="btn btn-primary" (click)="endDate ? SetTrigger() : null; endDate = ''">
                  <i class="zmdi zmdi-delete zmdi-hc-lg"></i>
              </button>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 mb-3">
        <ng-select
            [items]="paymentMethods"
            bindLabel="label"
            bindValue="value"
            placeholder="Filtrar por método de pago"
            (change)="SetTrigger()"
            [(ngModel)]="selectedPaymentMethod"
        ></ng-select>
    </div>
    <div class="col-12 col-sm-6 mb-3">
        <ng-select
            [items]="products"
            [multiple]="true"
            bindLabel="name"
            bindValue="id"
            placeholder="Filtrar por productos"
            (change)="SetTrigger()"
            [(ngModel)]="selectedProducts"
        ></ng-select>
    </div>
    <div class="col-12 col-sm-6 mb-3" *ngIf="user.role.name == 'Admin'">
        <ng-select
            [items]="sellers"
            [multiple]="true"
            bindLabel="name"
            bindValue="id"
            placeholder="Filtrar por vendedores"
            (change)="SetTrigger()"
            [(ngModel)]="selectedSellers"
        ></ng-select>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <ul class="nav nav-pills" style="border-bottom: 2px solid black;">
            <li class="nav-item clickeable-hover" (click)="tab = 'table'">
              <div class="nav-link px-5" [ngClass]="{active: tab == 'table'}">Tabla</div>
            </li>
            <li class="nav-item clickeable-hover" (click)="tab = 'graphic'">
              <div class="nav-link px-5" [ngClass]="{active: tab == 'graphic'}">Grafica</div>
            </li>
          </ul>
    </div>
    <div class="col-12">
        <div [ngSwitch]="tab">
            <div *ngSwitchCase="'table'">
                <app-sales-table [orders]="orders" [loading]="loading"></app-sales-table>
            </div>
            <div *ngSwitchCase="'graphic'">
                <app-sales-graphic></app-sales-graphic>
            </div>
        </div>
    </div>
</div>
