<div class="row mt-3 mb-4">
    <div class="col-12 view-title d-flex justify-content-between align-items-center">
        <div class="d-inline-block">
            <span class="clickeable" (click)="router.GoToRoute('pedidos')">
                <i class="zmdi zmdi-arrow-back"></i>
            </span>
            Pedido {{orderId ? orderId : ''}} - {{order ? (order.creationDate | date:"dd/MM/yyyy") : ''}}
        </div>
        <div class="d-inline-block">
            <button class="btn btn-success" [disabled]="!AllProductsPacked()" style="font-size: 1.2rem;" (click)="confirmIdentity.show()">
                Temrinar pedido
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-4">
        <div style="font-size: 1.4rem;">
            Datos
        </div>
        <div class="card address-card" *ngIf="order">
            <div class="card-body pt-0">
                <div class="form-group m-0">
                    <b>Usuario</b>
                </div>
                <div class="form-group m-0">
                    {{order.user.name}} - {{order.user.email}} - {{order.user.cellphone ? order.user.cellphone : 'Sin número registrado'}}
                </div>
                <div class="form-group m-0">
                    <b>Dirección</b>
                </div>
                <div class="form-group m-0">
                    {{GetStreetAddress(order.address)}}
                </div>
                <div class="form-group m-0" style="text-transform: uppercase;">
                    {{order.address.colony}} - {{order.address.postalCode}}
                </div>
                <div class="form-group m-0" style="max-height: 3rem;">
                    {{order.address.references}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div style="font-size: 1.4rem;">
            Productos
        </div>
    </div>
    <ng-container *ngIf="order">
        <div class="col-12 col-xl-6 mb-3" *ngFor="let product of order.products">
            <div class="row product-card">
                <div class="col-12 col-md-6 col-xl-4 d-flex h-100 align-items-center px-0">
                    <img *ngIf="product?.images?.length" class="product-image"
                        [src]="file.GenerateFileURL(product.images[0].partialURL)" [alt]="product.images[0].name">
                </div>
                <div class="col-12 col-md-6 col-xl-8 mt-3 px-4">
                    <div class="product-info" style="font-size: 1.2rem;">
                        <label class="product-label">Clave</label>
                        {{product.key}}
                    </div>
                    <div class="product-info" style="font-size: 1.2rem;">
                        <label class="product-label">Nombre</label>
                        {{product.name}}
                    </div>
                    <div class="product-info">
                        <label class="product-label">Cantidad</label>
                        {{product.quantity}}
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-outline-success btn-block" *ngIf="!product.packed" (click)="TogglePackedProduct(product)">
                            Empaquetar
                            <i class="zmdi zmdi-check zmdi-hc-lg ml-2"></i>
                        </button>
                        <button class="btn btn-outline-danger btn-block" *ngIf="product.packed" (click)="TogglePackedProduct(product)">
                            Desempaquetar
                            <i class="zmdi zmdi-close zmdi-hc-lg ml-2"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<app-verify-identity-modal #confirmIdentity (onSuccess)="FinishOrder()">
</app-verify-identity-modal>
