<div class="row mt-3">
    <div class="col-12 view-title d-flex justify-content-between align-items-center">
        <div class="d-inline-block">
            Usuarios
        </div>
        <div class="d-inline-block">
            <button class="btn btn-primary px-3 py-2" (click)="SetValidatorsToCreateUser(); OpenModal(adminAddOrEditUserModal)">
                <i class="zmdi zmdi-plus-circle-o mr-1"></i>
                Nuevo
            </button>
        </div>
    </div>
</div>

<!-- Search bar -->
<div class="row mt-3">
    <div class="col-12 col-md-6 col-lg-8 col-xl-9">
        <div class="form-group">
            <div class="input-container">
                <i class="input-icon zmdi zmdi-search"></i>
                <input class="form-control" type="text" placeholder="Buscar usuarios"
                [(ngModel)]="txtToFilter" (input)="SetTrigger()" (keyup.enter)="GetUsers()">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="form-group">
            <ng-select
                [items]="roles"
                bindLabel="name"
                bindValue="name"
                [(ngModel)]="roleToFilter"
                placeholder="Filtrar por rol"
                (change)="GetUsers()"
            ></ng-select>
        </div>
    </div>
</div>

<!-- Users -->
<div class="row mt-3" *ngIf="!loading.getting; else bigLoading">
    <ng-container *ngIf="users.length; else noUsers">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4" *ngFor="let user of users">
            <div class="card">
                <div class="card-header py-0">
                    <div class="relative-container">
                        <div class="absolute-container">
                            <div class="square">
                                <div class="icon-container">
                                    <i class="zmdi zmdi-account"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group user-card-info">
                        <label>Código</label>
                        <div>{{user.username}}</div>
                    </div>
                    <div class="form-group user-card-info">
                        <label>Nombre</label>
                        <div>{{user.name}}</div>
                    </div>
                    <div class="form-group user-card-info">
                        <label>Email</label>
                        <div>{{user.email}}</div>
                    </div>
                    <div class="form-group user-card-info">
                        <label>Rol</label>
                        <div>{{user.role?.name}}</div>
                    </div>
                    <div class="form-group user-card-info">
                        <button class="btn btn-primary btn-block mt-2" (click)="OpenModal(adminRestorePasswordModal)">
                            Cambiar contraseña
                        </button>
                    </div>
                    <div class="form-group">
                        <div class="d-flex justify-content-between mt-2">
                            <button class="btn btn-info" style="padding: 5px 20%;"
                            (click)="SetUserToEdit(user); OpenModal(adminAddOrEditUserModal)">
                                <i class="zmdi zmdi-edit"></i>
                            </button>
                            <button class="btn btn-danger"style="padding: 5px 20%;"
                            (click)="SetUserToDelete(user); OpenModal(adminDeleteUserModal)">
                                <i class="zmdi zmdi-delete"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<ng-template #bigLoading>
    <div class="row">
        <div class="col-12 col-flex-center">
            <i class="zmdi zmdi-spinner zmdi-hc-5x zmdi-hc-spin"></i>
        </div>
    </div>
</ng-template>

<ng-template #noUsers>
    <div class="col-12 text-center" style="font-size: 1.5rem; font-weight: bold;">
        <span *ngIf="!txtToFilter && !roleToFilter">Sin usuarios registrados</span>
        <span *ngIf="txtToFilter || roleToFilter">No se encontraron coincidencias</span>
    </div>
</ng-template>

<ng-template #adminDeleteUserModal>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Eliminar usuario</h4>
            <button class="close" (click)="CloseModal()">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <div class="message-text">
                    ¿Está seguro/a que desea eliminar al usuario <b>"{{selectedUser.name}}"</b> permanentemente?
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary mr-2" (click)="CloseModal()">
                No, cancelar
            </button>
            <button class="btn btn-danger" [disabled]="loading.deleting" (click)="DeleteUser()">
                <span *ngIf="loading.deleting"><i class="zmdi zmdi-spinner zmdi-hc-spin"></i></span>
                <span *ngIf="!loading.deleting">Si, eliminar</span>
            </button>
        </div>
    </div>
</ng-template>

<ng-template #adminRestorePasswordModal>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Cambiar contraseña</h4>
            <button class="close" (click)="CloseModal(); this.ResetForm(changePasswordForm);">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="changePasswordForm">
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input class="form-control" type="password" placeholder="Nueva contraseña" formControlName="password"
                    (input)="OnPasswordChange(changePasswordForm, 'password', 'confirmPassword')" (keyup.enter)="ChangePassword()">
                    <div class="error-messages" *ngIf="form.GetFormControlByName(changePasswordForm, 'password')?.touched && form.GetFormControlByName(changePasswordForm, 'password')?.errors">
                        <span class="d-block" *ngIf="form.GetFormControlByName(changePasswordForm, 'password')?.errors?.required">
                            Escriba una contraseña
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirmPassword">Confirmar contraseña</label>
                    <input class="form-control" type="password" placeholder="Confirmar contraseña" formControlName="confirmPassword" (keyup.enter)="ChangePassword()">
                    <div class="error-messages" *ngIf="form.GetFormControlByName(changePasswordForm, 'confirmPassword')?.touched && form.GetFormControlByName(changePasswordForm, 'confirmPassword')?.errors">
                        <span class="d-block" *ngIf="form.GetFormControlByName(changePasswordForm, 'confirmPassword')?.errors?.required">
                            Escriba la confirmación de la contraseña
                        </span>
                        <span class="d-block" *ngIf="form.GetFormControlByName(changePasswordForm, 'confirmPassword')?.errors?.matchstring">
                            Las contraseñas no coinciden
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary mr-2" (click)="CloseModal(); this.ResetForm(changePasswordForm);">
                Cancelar
            </button>
            <button class="btn btn-primary" [disabled]="loading.restoringPassword" (click)="ChangePassword()">
                <span *ngIf="loading.restoringPassword"><i class="zmdi zmdi-spinner zmdi-hc-spin"></i></span>
                <span *ngIf="!loading.restoringPassword">Restaurar</span>
            </button>
        </div>
    </div>
</ng-template>

<ng-template #adminAddOrEditUserModal>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{ isEditing ? 'Editar usuario' : 'Agregar nuevo usuario'}}</h4>
            <button class="close" (click)="CloseModal(); this.ResetForm(userForm);">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="userForm">
                <div class="form-group">
                    <label for="role">Rol de usuario</label>
                    <ng-select
                        [readonly]="isEditing"
                        [items]="roles"
                        bindLabel="name"
                        bindValue="name"
                        formControlName="role"
                        placeholder="Selecicone un rol de usuario"
                    ></ng-select>
                    <div class="error-messages" *ngIf="form.GetFormControlByName(userForm, 'role')?.touched && form.GetFormControlByName(userForm, 'role')?.errors">
                        <span class="d-block" *ngIf="form.GetFormControlByName(userForm, 'role')?.errors?.required">
                            Seleccione un rol para el usuario
                        </span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input class="form-control" type="text" placeholder="Escriba nombre del titular de la cuenta" formControlName="name" (keyup.enter)="isEditing ? UpdateUserAsAdmin() : CreateUser()">
                    <div class="error-messages" *ngIf="form.GetFormControlByName(userForm, 'name')?.touched && form.GetFormControlByName(userForm, 'name')?.errors">
                        <span class="d-block" *ngIf="form.GetFormControlByName(userForm, 'name')?.errors?.required">
                            Escriba nombre del titular de la cuenta
                        </span>
                        <span class="d-block" *ngIf="form.GetFormControlByName(userForm, 'name')?.errors?.minlength">
                            Mínimo 3 caracteres
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" type="text" placeholder="Escriba email del titular de la cuenta" formControlName="email" (keyup.enter)="isEditing ? UpdateUserAsAdmin() : CreateUser()">
                    <div class="error-messages" *ngIf="form.GetFormControlByName(userForm, 'email')?.touched && form.GetFormControlByName(userForm, 'email')?.errors">
                        <span class="d-block" *ngIf="form.GetFormControlByName(userForm, 'email')?.errors?.required">
                            Escriba email del titular de la cuenta
                        </span>
                        <span class="d-block" *ngIf="form.GetFormControlByName(userForm, 'email')?.errors?.pattern">
                            Email inválido
                        </span>
                    </div>
                </div>

                <div class="form-group" *ngIf="!isEditing">
                    <label for="password">Contraseña</label>
                    <input class="form-control" type="password" placeholder="Contraseña de la cuenta" formControlName="password"
                    (input)="OnPasswordChange(userForm, 'password', 'confirmPassword')" (keyup.enter)="isEditing ? UpdateUserAsAdmin() : CreateUser()">
                    <div class="error-messages" *ngIf="form.GetFormControlByName(userForm, 'password')?.touched && form.GetFormControlByName(userForm, 'password')?.errors">
                        <span class="d-block" *ngIf="form.GetFormControlByName(userForm, 'password')?.errors?.required">
                            Escriba una contraseña
                        </span>
                    </div>
                </div>

                <div class="form-group" *ngIf="!isEditing">
                    <label for="confirmPassword">Confirmar contraseña</label>
                    <input class="form-control" type="password" placeholder="Confirmar contraseña" formControlName="confirmPassword" (keyup.enter)="isEditing ? UpdateUserAsAdmin() : CreateUser()">
                    <div class="error-messages" *ngIf="form.GetFormControlByName(userForm, 'confirmPassword')?.touched && form.GetFormControlByName(userForm, 'confirmPassword')?.errors">
                        <span class="d-block" *ngIf="form.GetFormControlByName(userForm, 'confirmPassword')?.errors?.required">
                            Confirme la contraseña
                        </span>
                        <span class="d-block" *ngIf="form.GetFormControlByName(userForm, 'confirmPassword')?.errors?.matchstring">
                            Las contraseñas no coinciden
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary mr-2" (click)="CloseModal(); this.ResetForm(userForm);">
                Cancelar
            </button>
            <button class="btn btn-primary" *ngIf="!isEditing" [disabled]="loading.creatingOrEditing" (click)="CreateUser()">
                <span *ngIf="loading.creatingOrEditing"><i class="zmdi zmdi-spinner zmdi-hc-spin"></i></span>
                <span *ngIf="!loading.creatingOrEditing">Crear</span>
            </button>
            <button class="btn btn-info" *ngIf="isEditing" [disabled]="loading.creatingOrEditing" (click)="UpdateUserAsAdmin()">
                <span *ngIf="loading.creatingOrEditing"><i class="zmdi zmdi-spinner zmdi-hc-spin"></i></span>
                <span *ngIf="!loading.creatingOrEditing">Actualizar</span>
            </button>
        </div>
    </div>
</ng-template>