<div class="row justify-content-center mt-5">
    <div class="col-12 col-md-10 col-lg-8 col-xl-6">
        <div class="card">
            <div class="card-header">
                <h1 class="card-title">Perfil</h1>
            </div>
            <div class="card-body">
                Datos del perfil
            </div>
            <div class="card-footer">
                xd
                <button class="btn btn-secondary" (click)="OpenModal(firstTimeConfigurationModal)">
                    OPenModal
                </button>
            </div>
        </div>
    </div>
</div>

<ng-template #firstTimeConfigurationModal>
    <div class="modal-content">
        <div class="modal-header">
            Hola que pex
        </div>
        <div class="modal-body">
            adios
        </div>
        <div class="modal-footer">
            footer
        </div>
    </div>
</ng-template>