<div class="mt-4" *ngIf="currentStep <= lastStep; else purchaseCompleted">
    <div class="row">
        <div class="col-12 view-title d-flex h-100 justify-content-between align-items-center">
            <div class="d-inline-block">
                Carrito
            </div>
            <div class="d-inline-block">
                <button class="btn btn-warning" *ngIf="currentStep < lastStep" [disabled]="DisableContinueButton()" (click)="NextStep()">
                    Continuar
                </button>
                <button class="btn btn-warning" *ngIf="currentStep == lastStep" [disabled]="DisableContinueButton()" (click)="NextStep()">
                    Finalizar compra
                    <i class="zmdi zmdi-money ml-1"></i>
                </button>
            </div>
        </div>
    </div>

    <div [ngSwitch]="currentStep">
        <!-- Select directions -->
        <div *ngSwitchCase="1">
            <app-user-addresses
                (OnAddressSelect)="OnAddressSelect($event)"
            ></app-user-addresses>
        </div>

        <!-- Select debit/credit card -->
        <div *ngSwitchCase="2">
            <app-user-cards
            ></app-user-cards>
        </div>

        <div *ngSwitchDefault class="row" style="overflow-x: auto;">
            <div class="col-12 d-flex justify-content-between h-100 align-items-baseline mb-3">
                <div class="total-price">
                    Productos
                </div>
                <div class="total-price">
                    Total: ${{GetTotalPrice() | number:"1.2-2" }}
                </div>
            </div>
            <div class="col-12 mb-3" *ngFor="let cartProduct of cartProducts">
                <div class="card cart-card cart-product-card">
                    <div class="d-flex h-100">
                        <div class="product-image-container">
                            <img class="product-img" *ngIf="cartProduct"
                            [src]="file.GenerateFileURL(cartProduct.product.images[0].partialURL)">
                        </div>
                        <div class="d-flex w-100 ml-3 justify-content-between">
                            <div class="product-info">
                                <div class="product-title">
                                    {{cartProduct.product?.name}}
                                </div>
                                <div>
                                    {{cartProduct.product?.description}}
                                </div>
                            </div>
                            <div class="product-price" style="min-width: 120px;">
                                <div class="d-flex h-50 align-items-start">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-danger" (click)="RemoveProduct(cartProduct)">
                                                <i class="zmdi zmdi-minus zmdi-hc-lg"></i>
                                            </button>
                                        </div>
                                        <input class="form-control" style="width: 1rem; text-align: center;"
                                        type="text" maxlength="2" readonly
                                        [(ngModel)]="cartProduct.quantity">
                                        <div class="input-group-append">
                                            <button class="btn btn-success" (click)="cart.AddProduct(cartProduct.product)">
                                                <i class="zmdi zmdi-plus zmdi-hc-lg"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex h-50 align-items-end">
                                    ${{GetProductPrice(cartProduct.product) | number:"1.2-2"}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #purchaseCompleted>
    <div class="row">
        <div class="col-12">
            ¡Felicidades! la orden de su compra se ha creado correctamente
        </div>
    </div>
</ng-template>

<div class="modal fade" bsModal #confirmDeletProductFromCart="bs-modal" [config]="{backdrop: 'static', keyboard: false}" tabindex="-1" role="dialog" aria-labelledby="first-time-configuration">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="first-time-configuration" class="modal-title pull-left">Quitar producto</h4>
          <button class="close" (click)="confirmDeletProductFromCart.hide()">
              <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
            ¿Está seguro de que desea eliminar el producto "<b>{{productToDelete?.name}}</b>" del carrito?
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" (click)="confirmDeletProductFromCart.hide()">
                No, cancelar
            </button>
            <button class="btn btn-danger" (click)="cart.RemoveProduct(productToDelete); confirmDeletProductFromCart.hide()">
                Si, eliminar
            </button>
        </div>
      </div>
    </div>
  </div>
