<div class="component-container">
    <div class="vertical-center">
        <div class="w-100">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title mb-0">Recuperar cuenta</h3>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="recoverAccountForm">
                                <div class="form-group">
                                    <label for="emailOrUsername">Código o email</label>
                                    <div class="input-container">
                                        <i class="input-icon zmdi zmdi-lock"></i>
                                        <input class="form-control" type="text" formControlName="emailOrUsername"
                                        placeholder="Ingrese su código o su email" (keyup.enter)="SendEmailToRecoverAccount()">
                                    </div>
                                    <div class="error-messages" *ngIf="form.GetFormControlByName(recoverAccountForm, 'emailOrUsername')?.touched && form.GetFormControlByName(recoverAccountForm, 'emailOrUsername')?.errors">
                                        <span class="d-block" *ngIf="form.GetFormControlByName(recoverAccountForm, 'emailOrUsername')?.errors?.pattern">
                                            Código o correo no válido
                                        </span>
                                        <span class="d-block" *ngIf="form.GetFormControlByName(recoverAccountForm, 'emailOrUsername')?.errors?.required">
                                            Favor de ingresar su código o su correo
                                        </span>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                        <div class="card-footer text-right">
                            <button class="btn btn-primary" (click)="SendEmailToRecoverAccount()">
                                Recuperar cuenta
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

