<div class="component-container">
    <div class="vertical-center">
        <div class="w-100">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title mb-0">Recuperar cuenta</h3>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="recoverAccountForm" *ngIf="!mailSent; else verificationCodeCard">
                                <div class="form-group">
                                    <label for="emailOrUsername">Código o email</label>
                                    <div class="input-container">
                                        <i class="input-icon zmdi zmdi-lock"></i>
                                        <input class="form-control" type="text" formControlName="emailOrUsername"
                                        placeholder="Ingrese su código o su email" (keyup.enter)="SendEmailToRecoverAccount()">
                                    </div>
                                    <div class="error-messages" *ngIf="form.GetFormControlByName(recoverAccountForm, 'emailOrUsername')?.touched && form.GetFormControlByName(recoverAccountForm, 'emailOrUsername')?.errors">
                                        <span class="d-block" *ngIf="form.GetFormControlByName(recoverAccountForm, 'emailOrUsername')?.errors?.pattern">
                                            Código o correo no válido
                                        </span>
                                        <span class="d-block" *ngIf="form.GetFormControlByName(recoverAccountForm, 'emailOrUsername')?.errors?.required">
                                            Favor de ingresar su código o su correo
                                        </span>
                                    </div>
                                </div>
                            </form>

                            <div class="text-center">
                                ¿No tienes cuenta? <a href="{{GetRegisterRoute()}}">Registrate aquí</a>
                            </div>
                            <div class="text-center mt-2">
                                ¿Ya tienes cuenta? <a href="{{GetLoginRoute()}}">Inicia sesión aquí</a>
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <button class="btn btn-primary" *ngIf="!mailSent"
                            (click)="SendEmailToRecoverAccount()">
                                Recuperar cuenta
                            </button>
                            <button class="btn btn-primary" *ngIf="mailSent && !isVerificationCodeValid"
                            (click)="CheckIfVerificationCodeIsValid()">
                                Verificar PIN
                            </button>
                            <button class="btn btn-primary" *ngIf="isVerificationCodeValid"
                            (click)="ResetPassword()">
                                Resetear contraseña
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #verificationCodeCard>
    <form [formGroup]="verificationCodeForm" *ngIf="!isVerificationCodeValid; else resetPasswordCard">
        <div class="form-group">
            <label for="verificationCode">PIN</label>
            <div class="input-container">
                <i class="input-icon zmdi zmdi-dialpad"></i>
                <input class="form-control" type="text" formControlName="verificationCode"
                placeholder="Ingrese el PIN que se le envió a su correo" (keyup.enter)="CheckIfVerificationCodeIsValid()">
            </div>
            <div class="error-messages" *ngIf="form.GetFormControlByName(verificationCodeForm, 'verificationCode')?.touched && form.GetFormControlByName(verificationCodeForm, 'verificationCode')?.errors">
                <span class="d-block" *ngIf="form.GetFormControlByName(verificationCodeForm, 'verificationCode')?.errors?.pattern">
                    PIN inválido
                </span>
                <span class="d-block" *ngIf="form.GetFormControlByName(verificationCodeForm, 'verificationCode')?.errors?.required">
                    Ingrese el PIN que se envió a su correo
                </span>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #resetPasswordCard>
    <form [formGroup]="resetPasswordForm">
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input class="form-control" type="password" placeholder="Ingrese su nueva contraseña" formControlName="password"
            (input)="form.OnPasswordChange(resetPasswordForm, 'password', 'confirmPassword')" (keyup.enter)="ResetPassword()">
            <div class="error-messages" *ngIf="form.GetFormControlByName(resetPasswordForm, 'password')?.touched && form.GetFormControlByName(resetPasswordForm, 'password')?.errors">
                <span class="d-block" *ngIf="form.GetFormControlByName(resetPasswordForm, 'password')?.errors?.required">
                    Escriba una contraseña
                </span>
            </div>
        </div>

        <div class="form-group">
            <label for="confirmPassword">Confirmar contraseña</label>
            <input class="form-control" type="password" placeholder="Confirme su contraseña" formControlName="confirmPassword" (keyup.enter)="ResetPassword()">
            <div class="error-messages" *ngIf="form.GetFormControlByName(resetPasswordForm, 'confirmPassword')?.touched && form.GetFormControlByName(resetPasswordForm, 'confirmPassword')?.errors">
                <span class="d-block" *ngIf="form.GetFormControlByName(resetPasswordForm, 'confirmPassword')?.errors?.required">
                    Confirme la contraseña
                </span>
                <span class="d-block" *ngIf="form.GetFormControlByName(resetPasswordForm, 'confirmPassword')?.errors?.matchstring">
                    Las contraseñas no coinciden
                </span>
            </div>
        </div>
    </form>
</ng-template>
