<div class="row my-4">
    <!-- table configurations -->
    <div class="col-12 mb-4">
        <label>Qué desea tabular</label>
        <ng-select
            [items]="tableOptions"
            placeholder="Seleccionar tabla"
            bindLabel="label"
            bindValue="value"
            (change)="OnTableSelect()"
            [(ngModel)]="tableSelected">
        </ng-select>
    </div>

    <div class="col-12" *ngIf="!loadingData">
        <div [ngSwitch]="tableSelected">
            <div *ngSwitchCase="'byOrders'">
                <table class="table table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th>Fecha</th>
                            <th>Productos</th>
                            <th>Cliente</th>
                            <th>Atendido por</th>
                            <th>Forma de pago</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <ng-container *ngIf="orders.length; else noItemsTable">
                            <tr *ngFor="let order of orders">
                                <td>{{order?.creationDate | date:"dd/MM/YYYY hh:mm a"}}</td>
                                <td>
                                    <div class="text-right">
                                        <b>Total - {{GetOrderProductsLength(order)}}</b>
                                    </div>
                                    <hr style="border: 1px solid black; margin: 4px 0;">
                                    <div class="text-right" *ngFor="let product of order?.products">
                                        {{product?.name}} - {{product?.quantity}}
                                    </div>
                                </td>
                                <td>{{order?.clientName ? order?.clientName : order?.user?.name}}</td>
                                <td>{{order?.seller ? order?.seller?.name : 'Nadie'}}</td>
                                <td>{{order?.paymentMethod == 'cash' ? 'Efectivo' : 'Tarjeta'}}</td>
                                <td>{{order?.total | currency}} MXN</td>
                                <td class="text-center">
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
            <div *ngSwitchCase="'bySeller'">
                <table class="table table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th>Vendedor</th>
                            <th>Pedidos terminados</th>
                            <th>Total recaudado</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <ng-container *ngIf="sellerOrders.length; else noItemsTable">
                            <tr *ngFor="let order of sellerOrders">
                                <td>{{order?.seller ? order?.seller?.name : 'Nadie'}}</td>
                                <td>{{order?.orders.length}}</td>
                                <td>{{GetOrdersTotal(order?.orders) | currency}} MXN</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
            <div *ngSwitchCase="'byBestProducts'">
                <table class="table table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th>Producto</th>
                            <th>Ventas del producto</th>
                            <th>Total recaudado</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <ng-container *ngIf="products.length; else noItemsTable">
                            <tr *ngFor="let product of products">
                                <td>{{product?.name}}</td>
                                <td>{{product?.quantity}}</td>
                                <td>{{product?.total | currency}} MXN</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #noItemsTable>
    <tr>
        <td colspan="7" class="text-center">
            No hay ventas, termina un pedido para que aparezca aquí
        </td>
    </tr>
</ng-template>
