<div class="row mt-3 mb-4">
    <div class="col-12 view-title d-flex justify-content-between align-items-center">
        <div class="d-inline-block">
            Productos
        </div>
        <div class="d-inline-block">
            <button class="btn btn-primary px-3 py-2" (click)="OpenModal(createOrEditProductModal)">
                <i class="zmdi zmdi-plus-circle-o mr-1"></i>
                Nuevo
            </button>
        </div>
    </div>
</div>

<!-- product filter -->
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <div class="input-container">
                <i class="input-icon zmdi zmdi-search"></i>
                <input class="form-control" type="text" placeholder="Buscar productos"
                [(ngModel)]="txtToFilter" (input)="SetTrigger()">
            </div>
        </div>
    </div>
</div>

<div class="card-columns px-3">
    <div class="card pt-0 px-0" *ngFor="let product of products">
        <div class="card-header p-0 mb-2">
            <div class="card-image-header">
                <img *ngIf="product?.images?.length" class="w-100" [src]="http.apiBaseUrl + product.images[0].partialURL" [alt]="product.images[0].name">
            </div>
        </div>
        <div class="card-body pb-0">
            <div class="form-group">
                <label class="card-info-label" for="key">Clave del producto</label>
                <div class="card-info">
                    {{product.key}}
                </div>
            </div>
            <div class="form-group">
                <label class="card-info-label" for="name">Nombre</label>
                <div class="card-info">
                    {{product.name}}
                </div>
            </div>
            <div class="form-group">
                <label class="card-info-label" for="price">Precio</label>
                <div class="card-info">
                    {{product.price}}
                </div>
            </div>
            <div class="form-group">
                <label class="card-info-label" for="stock">Stock disponible</label>
                <div class="card-info">
                    {{product.stock}}
                </div>
            </div>
            <div class="form-group">
                <label class="card-info-label" for="description">Descripción</label>
                <div class="card-info">
                    {{product.description}}
                </div>
            </div>
        </div>
        <div class="card-footer pt-0">
            <div class="form-group">
                <div class="d-flex h-100 align-items-center justify-content-between">
                    <label class="card-info-label" for="isVisible">Visible</label>

                    <div class="">
                        <!-- Rounded switch -->
                        <label class="switch">
                            <input type="checkbox" [checked]="product.isVisible" (change)="ToggleVisibility(product, $event)">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="d-flex justify-content-between mt-2">
                    <button class="btn btn-info" style="padding: 5px 20%;"
                    (click)="PrepareProductFormToEdit(product); OpenModal(createOrEditProductModal)">
                        <i class="zmdi zmdi-edit"></i>
                    </button>
                    <button class="btn btn-danger" style="padding: 5px 20%;"
                    (click)="selectedProduct = product; OpenModal(deleteProductModal)">
                        <i class="zmdi zmdi-delete"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<!-- Create or edit product -->
<ng-template #createOrEditProductModal>
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modaltitle">{{isEditing ? 'Editar producto' : 'Crear producto'}}</h3>
            <button class="close" (click)="CloseModal(); ResetForm()">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="productForm">

                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input class="form-control" type="text" placeholder="Escriba el nombre del producto" formControlName="name" (keyup.enter)="isEditing ? UpdateProduct() : CreateProduct()">
                    <div class="error-messages" *ngIf="form.GetFormControlByName(productForm, 'name')?.touched && form.GetFormControlByName(productForm, 'name')?.errors">
                        <span class="d-block" *ngIf="form.GetFormControlByName(productForm, 'name')?.errors?.required">
                            Escriba el nombre del producto
                        </span>
                        <span class="d-block" *ngIf="form.GetFormControlByName(productForm, 'name')?.errors?.minlength">
                            Mínimo 3 caracteres
                        </span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="description">Descripción</label>
                    <input class="form-control" type="text" placeholder="Descripción del producto" formControlName="description" (keyup.enter)="isEditing ? UpdateProduct() : CreateProduct()">
                    <div class="error-messages" *ngIf="form.GetFormControlByName(productForm, 'description')?.touched && form.GetFormControlByName(productForm, 'description')?.errors">
                        <span class="d-block" *ngIf="form.GetFormControlByName(productForm, 'description')?.errors?.required">
                            Escriba la descripción del producto
                        </span>
                        <span class="d-block" *ngIf="form.GetFormControlByName(productForm, 'description')?.errors?.minlength">
                            Mínimo 3 caracteres
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="price">Precio</label>
                    <input class="form-control" type="text" placeholder="Precio del producto" formControlName="price" (keyup.enter)="isEditing ? UpdateProduct() : CreateProduct()">
                    <div class="error-messages" *ngIf="form.GetFormControlByName(productForm, 'price')?.touched && form.GetFormControlByName(productForm, 'price')?.errors">
                        <span class="d-block" *ngIf="form.GetFormControlByName(productForm, 'price')?.errors?.required">
                            Escriba el precio del producto
                        </span>
                        <span class="d-block" *ngIf="form.GetFormControlByName(productForm, 'price')?.errors?.pattern">
                            Precio inválido Ej. 10.25
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="stock">Stock disponible</label>
                    <input class="form-control" type="text" placeholder="Stock disponible del producto" formControlName="stock" (keyup.enter)="isEditing ? UpdateProduct() : CreateProduct()">
                    <div class="error-messages" *ngIf="form.GetFormControlByName(productForm, 'stock')?.touched && form.GetFormControlByName(productForm, 'stock')?.errors">
                        <span class="d-block" *ngIf="form.GetFormControlByName(productForm, 'stock')?.errors?.required">
                            Escriba el stock disponible del producto
                        </span>
                        <span class="d-block" *ngIf="form.GetFormControlByName(productForm, 'stock')?.errors?.pattern">
                            Stock inválido
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="d-flex h-100 align-items-center justify-content-between">
                        <label class="card-info-label" for="isVisible">Visible</label>
    
                        <div>
                            <!-- Rounded switch -->
                            <label class="switch">
                                <input type="checkbox" formControlName="isVisible">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group"  *ngIf="!isEditing">
                    <label for="images">Imagenes</label>
                    <div class="row" *ngFor="let file of productImages">
                        <div class="col-8 col-md-10 px-0">
                            {{file.name}}
                        </div>
                        <div class="col-4 col-md-2 px-0 text-right">
                            <i class="zmdi zmdi-close zmdi-hc-lg clickeable" style="color: var(--danger);"></i>
                        </div>
                    </div>
                    <div class="btn btn-block btn-primary" (click)="productImageInput.click()">
                        <span><i class="zmdi zmdi-plus-circle"></i> Seleccionar</span>
                    </div>
                    <input class="d-none" type="file" #productImageInput multiple accept="image/*"
                    placeholder="Imagenes del producto" (change)="productImages = file.OnFileChange($event)">
                </div>

                <div class="form-group"  *ngIf="isEditing">
                    <label for="images">Imagenes</label>
                    <!-- Product images -->
                    <ng-container *ngIf="selectedProduct">
                        <div class="row mb-3" *ngFor="let image of selectedProduct.images">
                            <div class="col-12 px-0">
                                <img class="product-image" [src]="http.apiBaseUrl + image.partialURL" [alt]="image.name">
                                <i class="zmdi zmdi-close zmdi-hc-2x clickeable img-top-right"
                                (click)="DeleteImage(image)" title="Eliminar imagen"></i>
                            </div>
                        </div>
                    </ng-container>
                    <!-- new images to add -->
                    <div class="row" *ngFor="let file of productImages">
                        <div class="col-8 col-md-10 px-0">
                            {{file.name}}
                        </div>
                        <div class="col-4 col-md-2 px-0 text-right">
                            <i class="zmdi zmdi-close zmdi-hc-lg clickeable" style="color: var(--danger);"></i>
                        </div>
                    </div>
                    <div class="btn btn-block btn-primary" (click)="productImageInput.click()">
                        <span><i class="zmdi zmdi-plus-circle"></i> Seleccionar</span>
                    </div>
                    <input class="d-none" type="file" #productImageInput multiple accept="image/*"
                    placeholder="Imagenes del producto" (change)="productImages = file.OnFileChange($event)">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" (click)="CloseModal(); ResetForm()">
                Cancelar
            </button>
            <button class="btn btn-primary ml-2" *ngIf="!isEditing"
            [disabled]="loading.creatingOrUpdating" (click)="CreateProduct()">
                <span *ngIf="!loading.creatingOrUpdating">Crear</span>
                <span *ngIf="loading.creatingOrUpdating">
                    <i class="zmdi zmdi-spinner zmdi-hc-spin"></i>
                </span>
            </button>
            <button class="btn btn-primary ml-2" *ngIf="isEditing"
            [disabled]="loading.creatingOrUpdating" (click)="UpdateProduct()">
                <span *ngIf="!loading.creatingOrUpdating">Actualizar</span>
                <span *ngIf="loading.creatingOrUpdating">
                    <i class="zmdi zmdi-spinner zmdi-hc-spin"></i>
                </span>
            </button>
        </div>
    </div>
</ng-template>

<ng-template #deleteProductModal>
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Eliminar producto</h3>
            <button class="close" (click)="CloseModal()">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            ¿Está seguro que desea eliminar el producto "{{selectedProduct?.name}}"?
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" (click)="CloseModal()">
                No, cancelar
            </button>
            <button class="btn btn-danger" (click)="DeleteProduct()">
                Si, eliminar
            </button>
        </div>
    </div>
</ng-template>
