<div class="modal fade" bsModal #verifyIdentityModal="bs-modal" [config]="{backdrop: 'static', keyboard: false}" tabindex="-1" role="dialog" aria-labelledby="first-time-configuration">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmar acción</h4>
                <button class="close" (click)="verifyIdentityModal.hide(); onCancel.emit()">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="confirmIdentityForm">
                    <div class="form-group">
                        <label for="username">Correo o código</label>
                        <input class="form-control" type="text" placeholder="Correo o código" readonly
                        formControlName="username">
                        <div class="error-messages" *ngIf="form.GetFormControlByName(confirmIdentityForm, 'username')?.touched && form.GetFormControlByName(confirmIdentityForm, 'username')?.errors">
                            <span class="d-block" *ngIf="form.GetFormControlByName(confirmIdentityForm, 'username')?.errors?.required">
                                Escriba su correo o código
                            </span>
                        </div>
                    </div>
        
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input class="form-control" type="password" placeholder="Contraseña"
                        formControlName="password" (keyup.enter)="ConfirmIdentity()">
                        <div class="error-messages" *ngIf="form.GetFormControlByName(confirmIdentityForm, 'password')?.touched && form.GetFormControlByName(confirmIdentityForm, 'password')?.errors">
                            <span class="d-block" *ngIf="form.GetFormControlByName(confirmIdentityForm, 'password')?.errors?.required">
                                Escriba su contraseña
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary mr-2" (click)="verifyIdentityModal.hide(); onCancel.emit()">
                    Cancelar
                </button>
                <button class="btn btn-primary" [disabled]="validatingIdentity" (click)="ConfirmIdentity()">
                    <span *ngIf="validatingIdentity"><i class="zmdi zmdi-spinner zmdi-hc-spin"></i></span>
                    <span *ngIf="!validatingIdentity">Confirmar</span>
                </button>
            </div>
        </div>
    </div>
</div>
