<div class="dropdown">
    <div class="mr-2 position-relative clickeable" id="cartDropdown"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="zmdi zmdi-shopping-cart zmdi-hc-2x"></i>
        <span class="badge badge-light cart-badge">{{cartProducts?.length}}</span>
    </div>

    <div class="dropdown-menu" aria-labelledby="cartDropdown">
        <div class="menu-item" style="padding: 5px 15px;" *ngFor="let cartProduct of cartProducts">
            <span>{{cartProduct.product?.name}} - <b>{{cartProduct.quantity}}</b></span>
        </div>

        <div class="dropdown-footer-button px-3 mb-1" *ngIf="cartProducts.length">
            <button class="btn btn-warning btn-block" (click)="ProceedWithPayment()">
                <i class="zmdi zmdi-money-box zmdi-hc-lg mr-2"></i>
                <span>Proceder al pago</span>
            </button>
        </div>

        <div class="dropdown-footer-button px-3 mb-1" *ngIf="!cartProducts.length">
            <div class="text-center" style="font-size: 1.2rem;">
                Carrito vacío
            </div>
        </div>
    </div>
</div>