<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div style="width: 100%; justify-content: center;">
        <!-- header -->
        <div style="height: 10vh; background-color:#c2e6fd;">
        </div>

        <!-- body -->
        <div style="text-align: center; margin-top: 20px;">
            <div style="width: 75%; text-align: center; display: inline-block;">
                Hola <%=username%>, en este correo encontraras el PIN para reestablecer tu contraseña para la plataforma <%=platformName%> 
            </div>
            <div style="display: flex; height: 30vh; font-size: 2.5rem; font-weight: bold; justify-content: center; align-items: center;">
                <div style="width: min-content; padding: 10px 25px; background-color: #0069c0; color: white; border-radius: 12px;">
                    <%=userPin%>
                </div>
            </div>
        </div>

        <!-- footer -->
        <div style="display: flex; height: 10vh; background-color:#c2e6fd; align-items: center; justify-content: space-around;">
            <div style="width: min-content; white-space: nowrap;">
                ©<%=currentYear%> Copyright
            </div>
            <div style="width: min-content; white-space: nowrap;">
                VHAD
            </div>
        </div>
    </div>
</body>

</html>