<div class="home-footer">
    <div class="row h-100">
        <div class="col-4 h-100 d-flex align-items-center justify-content-center">
            <i class="zmdi zmdi-home zmdi-hc-lg mr-2"></i>
            Calle P. Sherman wallaby #234
        </div>
        <div class="col-4 h-100 d-flex align-items-center justify-content-center">
            <i class="zmdi zmdi-phone zmdi-hc-lg mr-2"></i>
            3344556677
        </div>
        <div class="col-4 h-100 d-flex align-items-center justify-content-center">
            <i class="zmdi zmdi-email zmdi-hc-lg mr-2"></i>
            vaiz.proyecto@gmail.com
        </div>
    </div>
</div>
